div.films-view {
    height: calc(100% - 100px);
}

div.film-card {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
}

div.film-card:hover {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}
